block footer
    #footer
        footer

            if newsletter
                //- .footer__newsletter
                //-     h3 Подписка на рассылку
                //-     span Будьте в курсе самых новых коллекций
                //-     form#newsletter-form
                //-         .form__container
                //-             input#email(type="email" name="email" placeholder="E-mail" autocomplete="off" required)
                //-             button(type="submit")
                //-                 i.fal.fa-long-arrow-right

                .footer__reassurance
                    .reassurance__block
                        span
                            i.fal.fa-lock-alt
                        h4 Безопасные платежи
                        span Visa, Mastercard, МИР

                    .reassurance__block
                        span
                            i.fal.fa-truck-loading
                        h4 Бесплатная доставка
                        span При 100% оплате на сайте

                    .reassurance__block
                        span
                            i.fal.fa-sync
                        h4 Возврат в течении 14 дней
                        span Бесплатный возврат в течение 14 календарных дней после доставки

                    .reassurance__block
                        span
                            i.fal.fa-headset
                        h4 Поддержка
                        span +7(495)105-80-15<br>help@gerarddarel.ru

            else if !cartPage
                .footer__reassurance
                    .reassurance__block
                        span
                            i.fal.fa-lock-alt
                        h4 Безопасные платежи
                        span Visa, Mastercard, МИР

                    .reassurance__block
                        span
                            i.fal.fa-truck-loading
                        h4 Бесплатная доставка
                        span При 100% оплате на сайте

                    .reassurance__block
                        span
                            i.fal.fa-sync
                        h4 Возврат в течении 14 дней
                        span Бесплатный возврат в течение 14 календарных дней после доставки

                    .reassurance__block
                        span
                            i.fal.fa-sync
                        h4 Поддержка
                        span +7(495)105-80-15<br>help@gerarddarel.ru

            if !cartPage
                .footer__container
                    .footer__menu
                        ul.menu__list

                            li.menu__item.has-sub-menu
                                h4 Категории
                                ul.footer__submenu
                                    li
                                        a(href="#") Новая коллекция
                                    li
                                        a(href="#") Сумки
                                    li
                                        a(href="#") Акссесуары
                                    li
                                        a(href="#") Хаус
                                    li
                                        a(href="#") Лукбук FW21

                            li.menu__item.has-sub-menu
                                h4 Информация
                                ul.footer__submenu
                                    li
                                        a(href="account.html") Аккаунт
                                    li
                                        a(href="delivery-return.html") Возврат товара
                                    li
                                        a(href="faq.html") Часто задаваемые вопросы
                                    li
                                        a(href="stores.html") Наши магазины
                                    li
                                        a(href="contact-us.html") Связаться с нами

                            li.menu__item
                                h4 Подписаться на наши новости
                                span Будьте в курсе наших новостей<br> и спецпредложений
                                form
                                    .footer__subscribe
                                        input(type="email", name="email" placeholder="Введите ваш E-mail" autocomplete="off" required)
                                        button(type="submit")
                                            i.fal.fa-long-arrow-right

                        .footer__right
                            .footer__logo
                                a(href="/")
                                    img(src="assets/images/Logo_GERARD_DAREL_HD_2016.png", alt="GERARD DAREL")

                            .footer__socials
                                a(href="#")
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-instagram

                    if !cartPage
                        .footer__copyright
                            p © 2022 Джерард Дарел в России

                            ul
                                li
                                    a Политика конфиденциальности
                                li
                                    a Политика возврата
                                li
                                    a Условия использования
                                li
                                    a Cookies

            else
                .footer__logo
                    a(href="/")
                        img.black(src="assets/images/Logo_GERARD_DAREL_HD_2016.png", alt="GERARD DAREL")

                .footer__socials
                    a(href="#")
                        i.fab.fa-facebook-f
                    a(href="#")
                        i.fab.fa-instagram