script(src="assets/js/jquery.min.js")
script(src="assets/js/slick.min.js")
script(src="assets/js/swiper-bundle.min.js")
script(src="assets/js/slider.js")
script(src="assets/js/jquery.mousewheel.js")
script(src="assets/js/jquery.jscrollpane.min.js")
script(src="assets/js/inputmask.min.js")
script(src="assets/js/jquery-ui.min.js")
script(src="assets/js/jquery.magnific-popup.min.js")
script(src="assets/js/popup-sizes.js")
script(src="assets/js/form.js")
script(src="assets/js/booking.js")
script(src="assets/js/password.js")
script(src="assets/js/personal.js")
script(src="assets/js/stores-map.js")
script(src="assets/js/stores.js")
script(src="assets/js/main.js")