block booking
    .booking-bg-layer
    .booking-container
        .booking-popup-area
            .booking-header
                .booking-title
                    h1 Зарезервируйте товар бесплатно и без обязательства покупки
                    h1.mobile Зарезервируйте товар
                    a.close-icon Закрыть
                .booking-navigation
                    ul.navigation-menu
                        li.nav-current(data-step="1")
                            a Продукт
                        li(data-step="2")
                            a Магазин
                        li(data-step="3")
                            a Ваши данные
                        li.nav-last-child(data-step="4")
                            a Подтверждение
                    .nav-mobile
                        span 1/4
                        span Продукт

            .booking-body
                .step-product.steps.step-1
                    .location-search
                        form
                            label Вы можете выбрать магазин:
                            ul.location-shops
                                li.location-shop
                                    input#prop1(type="radio", name="location" checked)
                                    label(for="prop1") в Москве
                                li.location-shop
                                    input#prop2(type="radio", name="location")
                                    label(for="prop2") в Санкт-Петербурге
                            button#selectCityBtn.button-style Найти

                    .product-block.hide
                        .product-header
                            span.location-reminder
                                span Вы выбрали г.Москва
                                a#changeCityBtn(href="javascript:void(0)") Изменить город
                            h2.step-title Флисовый свитшот с нашивкой

                        .product-column-left
                            .product-img
                                img(src="assets/images/002.jpg", alt="img")
                                .product-slider
                                    ul
                                        li
                                            a
                                                img(src="assets/images/002.jpg", alt="img")

                        .product-column-right
                            form
                                strong Чтобы уточнить наличие товара, пожалуйста, выберите:
                                label Размер*
                                .select-block-size
                                    select(required)
                                        option(value="0", selected, disabled) Выбрать размер
                                        option(value="0") S
                                        option(value="1") M
                                span.b-error Укажите размер
                                label Цвет*
                                .select-block-color
                                    select(required)
                                        option(value="0", selected, disabled) Выбрать цвет
                                        option(value="0") Белый
                                        option(value="1") Черный
                                span.b-error Укажите цвет

                            .next-step
                                button.button-style.btn-next Далее
                                label * Обязательные поля

                        .product-sentence Цена на товар в бутике совпадает с ценой товара в выбранном магазине


                .step-store.steps.step-2.hide
                    h2.step-title Магазины около Вас
                    .map-toggle
                        a.button-toggle
                            span.close-map.hide Закрыть карту
                            span.open-map Показать на карте
                    .store-list-container
                        ul.product-store-list
                            li.product-store
                                .store-info
                                    h3 Цветной
                                    address
                                        span Цветной бул., 15, стр. 1
                                        span +7 (495) 737-77-73
                                            a(href="javascript:void(0)") Показать на карте
                                    p 10:00 — 22:00
                                .other-info
                                    a.button-style(href="javascript:void(0)") Выбрать магазин

                            li.product-store
                                .store-info
                                    h3 Цветной
                                    address
                                        span Цветной бул., 15, стр. 1
                                        span +7 (495) 737-77-73
                                            a(href="javascript:void(0)") Показать на карте
                                    p 10:00 — 22:00
                                .other-info
                                    a.button-style(href="javascript:void(0)") Выбрать магазин

                            li.product-store
                                .store-info
                                    h3 Цветной
                                    address
                                        span Цветной бул., 15, стр. 1
                                        span +7 (495) 737-77-73
                                            a(href="javascript:void(0)") Показать на карте
                                    p 10:00 — 22:00
                                .other-info
                                    a.button-style(href="javascript:void(0)") Выбрать магазин

                        #store-map.hide(style="width: 100%; height: 400px;")

                .step-user.steps.step-3.hide
                    .terms-data.hide
                        .top-panel
                            h2 ПРАВИЛА ИСПОЛЬЗОВАНИЯ И УСЛОВИЯ ИНТЕРНЕТ-РЕЗЕРВИРОВАНИЯ
                            a.close-icon
                        .terms-data-content
                            h3 ВВЕДЕНИЕ
                            p Цель настоящих условий заключается в том, чтобы определить условия, при которых Пользователь может использовать услугу резервирования товара, предложенную на веб-сайте maje.ru (далее - Услуга), как это определено ниже. Настоящие условия заключаются исключительно между компанией ООО Фэшн Студио (далее Компания), и любым лицом, совершающим резервирование, далее именуемым "пользователь сети" и совместно именуемым "сторонами". Стороны соглашаются с тем, что их отношения будут регулироваться исключительно условиями резервирования, которые доступны на данном веб-сайте. Эти условия могут быть изменены. В таком случае применяются условия, действующие на сайте во время резервирования. И наконец, в настоящих общих условиях резервирования определяются условия резервирования. Любой пользователь, получивший доступ к сервису, обязуется ознакомиться с настоящими Условиями и принять их. Любое использование Сайта и сервиса предполагает принятие и соблюдение всех настоящих условий. Таким образом, они являются соглашением между Пользователем и Компанией. В случае, если пользователь не желает принимать все или часть настоящих Условий, он должен отказаться от использования сервиса. Пользователя информируют о том, что единственная подлинная версия настоящих условий и положений — это версия, находящаяся в Интернете на сайте, которую он должен систематически подтверждать при каждом входе в систему. Предполагается, что настоящие Условия использования услуг Компанией не могут рассматриваться каждой из сторон как общие условия продажи. В случае покупки применяются общие условия продажи, которые применяются в магазине или на сайте.
                            h3 ОПРЕДЕЛЕНИЯ:
                            ul
                                li Пользователь или клиент: любое лицо, которое подключается к сайту и использует сервис;
                                li Веб-сайт claudiepierlot.ru;
                                li Сервис: услуга резервирования объекта настоящих общих условий.
                            a(href="#shop-reserv") СТАТЬЯ 1: РЕЗЕРВИРОВАНИЕ В МАГАЗИНЕ
                            a(href="#in-stock") СТАТЬЯ 2: НАЛИЧИЕ ТОВАРА
                            a(href="#reserv-conditions") СТАТЬЯ 3: УСЛОВИЯ РЕЗЕРВИРОВАНИЯ
                            a(href="#liabilities") СТАТЬЯ 4: ОБЯЗАТЕЛЬСТВА ПОЛЬЗОВАТЕЛЯ
                            a(href="#privacy") СТАТЬЯ 5: ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ
                            h3#shop-reserv СТАТЬЯ 1: РЕЗЕРВИРОВАНИЕ В МАГАЗИНЕ
                            p Заказ товара в выбранном клиентом магазине не предполагает онлайн-оплаты пользователем. Оплата будет производиться в магазине, при покупке зарезервированного товара. Когда пользователь хочет зарезервировать товар, резервирование осуществляется в несколько этапов:
                            ul
                                li сайт предлагает пользователю список магазинов, в которых имеется выбранный пользователем товар. Пользователь выбирает нужный магазин;
                                li пользователь заполняет корзину резервирования;
                                li пользователь сообщает следующую информацию: имя, фамилия, номер телефона, адрес электронной почты; пользователь подтверждает, что предоставленная им информация является персональной и достоверной. В частности, он обязуется не предоставлять ложную информацию и / или неполную информацию о своей личности и контактных данных,
                                li пользователь получает подтверждение оформления резерва по электронной почте;
                                li магазин связывается с пользователем по телефону для подтверждения наличия зарезервированного товара и подтверждения предполагаемого времени визита в магазин.
                            p Резервирование не предполагает каких-либо обязательств покупки, а только обязательства явиться в магазин (или произвести аннулирование до истечения срока, в течение которого товар зарезервирован для клиента). Цена Товара указывается на Сайте в рублях Российской Федерации. В случае неверного указания цены заказанного Клиентом Товара, Компания при первой возможности информирует об этом Клиента для подтверждения Резерва по исправленной цене либо аннулирования Резерва. При невозможности связаться с Клиентом данный Резерв считается аннулированным. Промокоды, полученные на сайте или в сети интернет, не могут быть использованы при оплате товара в магазине.
                            h4 Какие существуют способы оплаты?
                            p Способ оплаты устанавливается индивидуально в каждом магазине. Оплата может осуществлять наличными или банковской картой в выбранном магазине при покупке товара. Компания оставляет за собой право отказаться от обработки запроса на резервирование, если контактные данные пользователя не анализируются как надежные (например, Ошибка номера телефона), если существует предыдущий или текущий спор об оплате или если резервирование касается более 5 (пяти) товаров, забронированных одновременно.
                            h4 Подтверждение резерва / Оплата
                            p Пользователю рекомендуется сохранять электронную почту для подтверждения резервирования.
                            h3#in-stock СТАТЬЯ 2: НАЛИЧИЕ ТОВАРА
                            p Предложения товаров и цен действительны до тех пор, пока они отображаются на сайте, за исключением специальных операций, срок действия которых указан на сайте. На первых этапах резервирования пользователю будет предложено проверить наличие товаров, продаваемых в магазине. Наличие указывает на наличие товара в выбранном каждого магазине. Пользователь выбирает один из этих магазинов, чтобы зарезервировать свой товар. Тем не менее, предполагается, что такая доступность является ориентировочной, поскольку товары могут быть проданы с момента завершения запроса на резервирование и проверки этого резервирования через магазин.
                            h3#reserv-conditions СТАТЬЯ 3: УСЛОВИЯ РЕЗЕРВИРОВАНИЯ
                            p Товары можно заказать только в отображаемых при резервировании магазинах. Резервирование является бесплатным и без каких-либо обязательств к покупке в магазине. Пользователь может зарезервировать максимум:
                            ul
                                li 3 товара;
                                li 2 размера одного и того же товара.
                            p Однако он не может одновременно зарезервировать дважды один и тот же товар в одном и том же размере и цвете. Часы работы магазина доступны для ознакомления на веб-сайте.
                            p Магазин обязуется, при получении запроса на резервирование Пользователя, сделанного на сайте, обработать запрос, связаться с Пользователем для подтверждения наличия резерва в течение часа в рабочее время. Указанный срок ответа на запрос резервирования является ориентировочным и никоим образом не является договорным. Выбранный товар будет зарезервирован на ближайшие 24 часа после подтверждения сотрудника магазина.
                            h4 Отмена резерва/отказ от товаров, составляющих резерв
                            p Поскольку резервирование является бесплатным и не требует покупки в магазине, пользователь может отказаться от покупки зарезервированных товаров, если они не подходят ему после того, как он приехал в магазин. Кроме того, пользователь может отменить резервирование, обратившись в выбранный магазин. В случае отмены резервирования пользователем, сотрудники магазина возвращают товар на продажу в торговом зале.
                            h3#liabilities СТАТЬЯ 4: ОБЯЗАТЕЛЬСТВА ПОЛЬЗОВАТЕЛЯ
                            p Следует особо отметить, что резервирование товара на сайте не подразумевает каких-либо обязательств покупки. Тем не менее, после подтверждения резервирования сотрудником магазина по телефону, пользователь обязан зайти в этот магазин, чтобы сообщить о себе продавцу магазина или, в противном случае, отменить резервирование до истечения срока резервирования. Если пользователь не отменил резервирование, это может привести к нарушению настоящих договорных условий.
                            h3#privacy СТАТЬЯ 5: ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ
                            h4 Получатели данных
                            p Личная информация предназначена исключительно для Компании.
                            h4 Категории собранных персональных данных
                            p - Определение: личные данные-это любая информация, относящаяся к физическому лицу или физическому лицу, посетившему сайт, позволяющая прямо или косвенно идентифицировать его. При создании запроса (например, запроса на резервирование) Компания собирает следующие данные:
                            ul
                                li Имя
                                li Фамилия
                                li Адрес электронной почты
                                li Номер мобильного телефона
                                li Принятие настоящих Условий (обязательно)
                                li Принятие сообщений от компании (необязательно)
                            p Порядок и цели использования персональных данных описаны по ссылке <a href="https://claudiepierlot.ru">https://claudiepierlot.ru</a>

                    .user-content

                        h2.step-title Ваши данные
                        .column-left
                            .user-store
                                h3 Магазин:
                                a(href="javascript:void(0)") Изменить
                            .user-products
                                h3 Товар:
                                a(href="javascript:void(0)") Изменить
                                .user-product-item
                                    img(src="assets/images/001.jpg", alt="img")
                                    .product-details
                                        span Флисовый свитшот с нашивкой
                                        span Размер: M
                                        span Цвет: Белый
                                        span Количество: 1
                        .column-right
                            form
                                .col-row
                                    .col-float-left
                                        label Имя*
                                        input(type="text" name="name" required)
                                        span.b-error Введите ваше имя
                                    .col-float-right
                                        label Фамилия*
                                        input(type="text" name="lastname" required)
                                        span.b-error Введите вашу фамилию

                                .col-row
                                    .col-float-left
                                        label Email*
                                        input(type="email" name="email")
                                        span.b-error Введите ваш email
                                    .col-float-right
                                        label Телефон*
                                        input#b-phone(type="text" name="phone" placeholder="+7 (xxx) xxx-xx-xx" required)
                                        span.b-error Введите ваш телефон

                                .col-row
                                    span Настоящим я даю разрешение на отправку мне информации об акциях и персональных предложениях в соответствии с <a target="_blank" href="#">Политикой конфиденциальности</a>.
                                    .col-checkboxes
                                        div
                                            input#userEmail(type="checkbox" name="subscribe-email")
                                            label(for="userEmail") Email
                                        div
                                            input#userSMS(type="checkbox" name="subscribe-sms")
                                            label(for="userSMS") SMS

                                .col-row
                                    .col-checkboxes.user-legal
                                        input#userLegal(type="checkbox" name="agreement")
                                        label(for="userLegal") Я соглашаюсь <a id="open-terms" href="javascript:void(0)">с условиями оформления резерва</a>*
                                        span.b-error Согласитесь с условиями оформления резерва

                            .step-actions
                                span * Обязательные поля
                                button Далее

                            p В случае поступление от Вас более 3 запросов на резерв товара, по которым Вы не смогли приехать в магазин, мы оставляем за собой возможность не резервировать для Вас товар.


                .step-confirmation.steps.step-4.hide
                    .column-left
                        .user-store
                            h3 Магазин:
                            a(href="javascript:void(0)") Изменить
                        .user-products
                            h3 Товар:
                            a(href="javascript:void(0)") Изменить
                            .user-product-item
                                img(src="assets/images/001.jpg", alt="img")
                                .product-details
                                    span Флисовый свитшот с нашивкой
                                    span Размер: M
                                    span Цвет: Белый
                                    span Количество: 1
                    .column-right
                        .confirmation-content
                            ul.validation-steps
                                li
                                    span
                                    h4 ПОЖАЛУЙСТА, ДОЖДИТЕСЬ ЗВОНКА ИЗ МАГАЗИНА
                                    p Сотрудник магазина свяжется с Вами в течение часа в рабочее время для подтверждения наличия резерва.
                                li
                                    span
                                    h4 ПОДТВЕРЖДЕНИЕ РЕЗЕРВА
                                    p Выбранный Вами товар будет зарезервирован на ближайшие 24 часа.

                            ul.validation-extra
                                li
                                    h4 БЕЗ ОБЯЗАТЕЛЬСТВА ПОКУПКИ
                                    p Оформление резерва бесплатное. Вы можете передумать в любой момент.
                                li
                                    h4 ПЕРЕДУМАЛИ?
                                    p Если Вы решили отказаться от резерва, пожалуйста, свяжитесь с выбранным магазином.

                    .step-actions
                        button(type="submit") Подтвердить