block password
    .password-bg-layer
    .password-container
        .password-popup-area
            h2 Восстановление пароля
            a.close-icon
            form#forgot-form
                .pass-form-row
                    label(for="reset-password") E-mail для восстановления
                    input#reset-password(type="email" name="reset-password" placeholder="Введите ваш e-mail" required)
                    span.p-error Введите email
                button(type="submit") Отправить

        // SUCCESS
        .password-popup-success
            p Ваши регистрационные данные были высланы на email.
            button Закрыть