block popup_sizes
    #popup-sizes.b-popup.mod-table.mfp-hide
        button.btn-close(onClick="$.magnificPopup.close();")
        .b-popup__content
            section.b-table-sizes
                h2 Таблица размеров

                section
                    .table-header
                        .table-button.table-clothes.selected(data-type="clothes") Одежда
                        .table-button.table-shoes(data-type="shoes") Обувь и аксессуары

                    .clothes.table-content.selected
                        .table
                            .col
                                .cell
                                    span INT
                                .cell
                                    span XS
                                .cell
                                    span S
                                .cell
                                    span M
                                .cell
                                    span L
                                .cell
                                    span XL

                            .col
                                .cell
                                    span FR
                                .cell
                                    span 34
                                .cell
                                    span 36
                                .cell
                                    span 38
                                .cell
                                    span 40
                                .cell
                                    span 42

                            .col
                                .cell
                                    span Other
                                .cell
                                    span 0
                                .cell
                                    span 1
                                .cell
                                    span 2
                                .cell
                                    span 3
                                .cell
                                    span 4

                            .col
                                .cell
                                    span Rus
                                .cell
                                    span 38/40
                                .cell
                                    span 40/42
                                .cell
                                    span 44
                                .cell
                                    span 44/46
                                .cell
                                    span 46

                            .col
                                .cell(style="flex-grow: 0")
                                    span U
                                .cell(style="flex-grow: 1")
                                    span ONE SIZE

                        .table-title Соотношение к размерам

                        .table
                            .col
                                .cell
                                    span Обхват груди, см
                                .cell
                                    span 82
                                .cell
                                    span 86
                                .cell
                                    span 90
                                .cell
                                    span 92
                                .cell
                                    span 96

                            .col
                                .cell
                                    span Обхват талии, см
                                .cell
                                    span 62
                                .cell
                                    span 66
                                .cell
                                    span 70
                                .cell
                                    span 76
                                .cell
                                    span 82

                            .col
                                .cell
                                    span Обхват бедер, см
                                .cell
                                    span 90
                                .cell
                                    span 94
                                .cell
                                    span 98
                                .cell
                                    span 104
                                .cell
                                    span 110

                            .col
                                .cell
                                    span Длина по внутреннему шву, см
                                .cell
                                    span 106
                                .cell
                                    span 108
                                .cell
                                    span 109
                                .cell
                                    span 110
                                .cell
                                    span 112


                    .shoes.table-content
                        .table
                            .col
                                .cell(style='flex-grow: 0')
                                    span U
                                .cell(style='flex-grow: 1')
                                    span ONE SIZE

                        .table-title Обувь

                        .table
                            .col
                                .cell
                                    span FR
                                .cell
                                    span 35
                                .cell
                                    span 36
                                .cell
                                    span 37
                                .cell
                                    span 38
                                .cell
                                    span 39
                                .cell
                                    span 40
                                .cell
                                    span 41

                            .col
                                .cell
                                    span Rus
                                .cell
                                    span 35
                                .cell
                                    span 36
                                .cell
                                    span 37
                                .cell
                                    span 38
                                .cell
                                    span 39
                                .cell
                                    span 40
                                .cell
                                    span 41

                            .col
                                .cell
                                    span Длина стопы
                                .cell
                                    span 21.1
                                .cell
                                    span 22.9
                                .cell
                                    span 23.7
                                .cell
                                    span 24.6
                                .cell
                                    span 25.2
                                .cell
                                    span 25.8
                                .cell
                                    span 27.1

                            .col
                                .cell
                                    span Длина стельки
                                .cell
                                    span 22.8
                                .cell
                                    span 23.5
                                .cell
                                    span 24.1
                                .cell
                                    span 24.8
                                .cell
                                    span 25.4
                                .cell
                                    span 26.3
                                .cell
                                    span 27.6

                        .table-title Ремни

                        .table
                            .col
                                .cell
                                    span INT
                                .cell
                                    span XS
                                .cell
                                    span S

                            .col
                                .cell
                                    span FR
                                .cell
                                    span 1
                                .cell
                                    span 2
                            .col
                                .cell
                                    span Длина, см
                                .cell
                                    span 79
                                .cell
                                    span 85
