[class*=" icon-"],[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-ico-instagram:before {
    content: "\e916"
}

.icon-back:before {
    content: "\e90a"
}

.icon-burger:before {
    content: "\e90b"
}

.icon-close:before {
    content: "\e90d"
}

.icon-customer-service:before {
    content: "\e90e"
}

.icon-left-arrow:before {
    content: "\e90f"
}

.icon-my-account:before {
    content: "\e910"
}

.icon-panier:before {
    content: "\e911"
}

.icon-payment:before {
    content: "\e912"
}

.icon-search:before {
    content: "\e913"
}

.icon-store:before {
    content: "\e914"
}

.icon-wishlist:before {
    content: "\e915"
}

.icon-icon-big-caludie-logo-2017:before {
    content: "\e700"
}

.icon-PDF:before {
    content: "\e940"
}

.icon-uniE600:before {
    content: "\e600"
}

.icon-uniE601:before {
    content: "\e601"
}

.icon-uniE602:before {
    content: "\e602"
}

.icon-uniE603:before {
    content: "\e603"
}

.icon-uniE604:before {
    content: "\e604"
}

.icon-uniE605:before {
    content: "\e605"
}

.icon-uniE606:before {
    content: "\e606"
}

.icon-uniE607:before {
    content: "\e607"
}

.icon-uniE608:before {
    content: "\e608"
}

.icon-uniE609:before {
    content: "\e609"
}

.icon-uniE60A:before {
    content: "\e60a"
}

.icon-uniE60B:before {
    content: "\e60b"
}

.icon-facebook2:before {
    content: "\e900"
}

.icon-instagram2:before {
    content: "\e901"
}

.icon-pinterest2:before {
    content: "\e902"
}

.icon-twitter2:before {
    content: "\e903"
}

.icon-youtube2:before {
    content: "\e904"
}

.icon-arrow-right-slider:before {
    content: "\e905"
}

.icon-heart2:before {
    content: "\e906"
}

.icon-heart1:before {
    content: "\e907"
}

.icon-pint:before {
    content: "\e908"
}

.icon-msg:before {
    content: "\e909"
}

.icon-arrow-left-slider:before {
    content: "\e90c"
}