html {
    scroll-behavior: smooth;
  }

body {
    background: #fff;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
background: rgba(90, 90, 90, 0.2);
}

::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.2);
}

a.zoom-on-content span {
    display: block;
    overflow: hidden;
}

a.zoom-on-content span img {
    display: block;
    transition: transform .25s;
}

a.zoom-on-content:hover img {
    transform: scale(1.03);
}

.slick-slider .slick-slide {
    margin: 0;
    transition: all ease-in-out .3s;
    position: relative;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 29px;
    border-radius: 0;
    border: 1px solid #e6e6e6;
    padding: 0 13px;
    background: #fbfbf7;
    font-family: open sans,sans-serif;
    letter-spacing: .06em;
    margin: 0;
    font-size: 12px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

button, .button-style {
    padding: 10px 0;
    background: #000;
    display: block;
    width: 100%;
    height: auto;
    font-family: 'open sans',sans-serif;
    font-size: 13px;
    line-height: normal;
    letter-spacing: .06em;
    color: #fff;
    text-transform: uppercase;
    transition: all .25s ease-out;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;

    &:hover {
        background: #343434;
    }
}