body.password-popup {
    overflow: hidden;
}

.p-error {
    display: none;
    color: red!important;
    margin: 5px 0 0;
    font-size: 13px;
}

.password-bg-layer {
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 1000%;
    min-width: 320px;
    opacity: 0.5;
    z-index: 100;
}

.password-container {
    position: fixed;
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    @include breakpoint(md) {
        align-items: center;
    }
}

.password-container * {
    font-size: 13px;
}

.password-popup-area {
    margin: 0 auto;
    padding: 32px 20px;
    background: #fff;
    position: relative;
    width: 100%;
    max-width: 546px;
    max-height: 246px;

    @include breakpoint(md) {
        padding: 32px;
        max-height: 234px;
    }
}

.password-popup-area h2 {
    margin: 0 0 24px;
    font-weight: 600;
    font-size: 16px;
}

.pass-form-row {
    margin-bottom: 15px;

    @include breakpoint(md) {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
    }
}

.pass-form-row label {
    margin: 0 0 10px;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    max-height: 35px;
    font-weight: 500;
    text-align: left;

    @include breakpoint(md) {
        margin: 0;
    }
}

.pass-form-row input {
    padding: 13px 14px;
    background: #fff;
    width: 100%;
    height: 50px;
    max-width: 360px;
    border: thin solid #dadada;
}

#forgot-form button {
    max-width: 360px;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-transform: none;

    @include breakpoint(md) {
        margin-left: auto;
        max-width: 160px;
    }
}

.password-popup-success {
    margin: 0 auto;
    padding: 32px 20px;
    background: #fff;
    position: relative;
    display: none;
    width: 100%;
    max-width: 360px;
    max-height: 246px;

    @include breakpoint(md) {
        padding: 32px;
        max-height: 234px;
    }
}

.password-popup-success p {
    margin-bottom: 10px;
}

.password-popup-success button {
    max-width: 360px;
}