#forgot-password {

    @include breakpointMax(lg) {
        margin-top: 95px;
    }
}

#forgot-password h3 {
    margin-top: 66px;
    margin-bottom: 30px;
    display: block;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: normal;

    @include breakpoint(lg) {
        font-size: 34px;
    }
}

#forgot-password form input {
    padding: 0.7em 0.5em;
    background-color: #fbfbf7;
    display: inline-block;
    width: 265px;
    height: 21px;
    font-size: 13px;
    float: none;
    outline: none;
    box-sizing: content-box;
    border: 1px solid #cbcbcb;
}

#forgot-password form > div {
    margin: 0 auto 10px;
    position: relative;
    max-width: 280px;
}

#forgot-password input[type="submit"] {
    margin-top: 30px;
    padding: 10px 0;
    background: #000;
    display: block;
    width: 100%;
    height: auto;
    font-family: open sans,sans-serif;
    font-size: 13px;
    line-height: normal;
    letter-spacing: .06em;
    color: #fff;
    text-transform: uppercase;
    transition: all .25s ease-out;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
 }