---
title: Корзина | Gerard Darel
bodyClass: cart-page
cartPage: true
---

extends includes/_page

block main

    .cart-features
            a
                i.fal.fa-truck-loading
                span Быстрая доставка

            a
                i.fal.fa-tshirt
                span Бесплатная примерка

            a
                i.fal.fa-truck
                span Бесплатный возврат

            a
                i.fal.fa-phone-alt
                span Служба поддержки<br>8 800 888 88 88

    #cart

        h1 Корзина
        .cart-container
            .cart-list

                .cart-item
                    a.cart-img
                        img(src="assets/images/img342.jpg", alt="image")
                    .cart-item-details
                        a(href="#")
                            h6 Объемный шерстяной свитер
                        .cart-item-wrapper
                            .cart-attributes
                                .cart-item-size
                                    span.text-gray Размер
                                    span M
                                .cart-item-color
                                    span.text-gray Цвет
                                    img(src="assets/images/black.jpg", alt="color")
                                div
                                    span.text-gray Количество
                                    .cart-item-quantity
                                        button −
                                        input(type="number" placeholde="0" min="1" value="1")
                                        button +
                            .cart-item-price
                                span.text-gray Стоимость
                                span 40 000₽
                        .cart-item-remove
                            a(href="#") Удалить

                .cart-item
                    a.cart-img
                        img(src="assets/images/001.jpg", alt="image")
                    .cart-item-details
                        a(href="#")
                            h6 Пальто из шерсти альпаки
                        .cart-item-wrapper
                            .cart-attributes
                                .cart-item-size
                                    span.text-gray Размер
                                    span L
                                .cart-item-color
                                    span.text-gray Цвет
                                    img(src="assets/images/black.jpg", alt="color")
                                div
                                    span.text-gray Количество
                                    .cart-item-quantity
                                        button −
                                        input(type="number" placeholde="0" min="1" value="1")
                                        button +
                            .cart-item-price
                                span.text-gray Стоимость
                                span 18 225₽
                        .cart-item-remove
                            a(href="#") Удалить

                .cart-item
                    a.cart-img
                        img(src="assets/images/002.jpg", alt="image")
                    .cart-item-details
                        a(href="#")
                            h6 Струящаяся блуза с цветочным принтом
                        .cart-item-wrapper
                            .cart-attributes
                                .cart-item-size
                                    span.text-gray Размер
                                    span M
                                .cart-item-color
                                    span.text-gray Цвет
                                    img(src="assets/images/black.jpg", alt="color")
                                div
                                    span.text-gray Количество
                                    .cart-item-quantity
                                        button −
                                        input(type="number" placeholde="0" min="1" value="1")
                                        button +
                            .cart-item-price
                                span.text-gray Стоимость
                                span 22 000₽
                        .cart-item-remove
                            a(href="#") Удалить

                .cart-item
                    a.cart-img
                        img(src="assets/images/004.jpg", alt="image")
                    .cart-item-details
                        a(href="#")
                            h6 Струящаяся шелковая блуза
                        .cart-item-wrapper
                            .cart-attributes
                                .cart-item-size
                                    span.text-gray Размер
                                    span 38
                                .cart-item-color
                                    span.text-gray Цвет
                                    img(src="assets/images/black.jpg", alt="color")
                                div
                                    span.text-gray Количество
                                    .cart-item-quantity
                                        button −
                                        input(type="number" placeholde="0" min="1" value="1")
                                        button +
                            .cart-item-price
                                span.text-gray Стоимость
                                span 10 000₽
                        .cart-item-remove
                            a(href="#") Удалить

            .cart-total-price
                span Итого:
                span 76 650₽

        .checkout-container

            .checkout-title
                h2 Оформление заказа
                a(href="#") Уже зарегистрированы?

            form#cart-form
                .form-header
                    h3 Личные данные
                    span * обязательные поля

                .form-row
                    label(for="input-name" data-required) Ваше имя
                    .c-input
                        input#input-name(type="text" placeholder="Введите ваше имя" data-error-message="Введите ваше имя" required)

                .form-row
                    label(for="input-lastname" data-required) Ваша фамилия
                    .c-input
                        input#input-lastname(type="text" placeholder="Введите вашу фамилию" data-error-message="Введите вашу фамилию" required)

                .form-row
                    label(for="input-phone" data-required) Телефон
                    .c-input
                        input#input-phone(placeholder="+7 (xxx) xxx-xx-xx" data-error-message="Введите номер телефона" required)

                .form-row
                    label(for="input-email" data-required) E-mail
                    .c-input
                        input#input-email(type="email" placeholder="Ваша электронная почта" data-error-message="Введите email" required)

                .form-row
                    label(for="input-city" data-required) Город
                    .c-input
                        input#input-city(type="text" placeholder="..." data-error-message="Укажите город" required)
                        .suggestions-wrapper
                            .suggestions

                                .suggestion
                                    span.suggestion-value
                                        strong Москва
                                        |, Россия

                                .suggestion
                                    span.suggestion-value
                                        strong Санкт-Петербург
                                        |, Россия


                .form-section
                    h3 Доставка
                    .shipping-text
                        span Чтобы выбрать доставку заполните, пожалуйста, поле "Город"

                    .shipping-section

                        .shipping-wrapper
                            .shipping-type
                                input#radio-shipping(type="radio", name="shipping" checked)
                                div
                                    label(for="radio-shipping")
                                    span Курьером
                                    span 346<b>₽</b>

                        .input-address

                            .form-row
                                label(for="input-email" data-required) Улица
                                .c-input
                                    input#address-address-1(type="text" placeholder="Улица" data-error-message="Выберите улицу" required)

                            .c-input-row
                                .c-input
                                    input#input-address-2(type="text" placeholder="Дом" data-error-message="Выберите дом" required)
                                .c-input
                                    input#input-address-3(type="text" placeholder="Корпус")
                                .c-input
                                    input#input-address-4(type="text" placeholder="Кв.")

                .form-section
                    h3 Оплата
                    .payment-section

                        div
                            .payment-type
                                input#radio-payment-1(type="radio", name="pay-system" checked)
                                div
                                    label(for="radio-payment-1")
                                    span Оплата при получении

                        div
                            .payment-type
                                input#radio-payment-2(type="radio", name="pay-system")
                                div
                                    label(for="radio-payment-2")
                                    span Оплата онлайн


                div
                    .delivery-date
                        .delivery-date-select
                            input(type="hidden")
                            .date-selected
                                span Выберите дату доставки
                            .date-select
                                .date-select-item 18.12.2021
                                .date-select-item 19.12.2021
                                .date-select-item 20.12.2021

                        .delivery-date-select
                            input(type="hidden")
                            .date-selected
                                span Выберите время доставки
                            .date-select
                                .date-select-item c 10:00 до 15:00
                                .date-select-item c 9:00 до 18:00
                                .date-select-item c 15:00 до 20:00

                    .checkbox-block
                        .checkbox
                            input#checkbox-call(type="checkbox")
                            label(for="checkbox-call") Перезвоните мне для подтверждения заказа


                .form-row
                    label(for="textarea-comment") Комментарий
                    .textarea-input
                        textarea#textarea-comment(placeholder="Комментарий к заказу")

                .form-section.form-section--final
                    .form-wrapper
                        .promo-wrap
                            .promo-input
                                input(type="text" placeholder="Промо-код")
                            button
                                span Применить
                        .checkout-final
                            .final-price
                                p Товары
                                span 58 590₽
                            .final-price
                                p Доставка
                                span 0₽
                            .final-price
                                p Всего
                                span 58 590₽

                    .form-submit

                        .checkbox-block

                            .checkbox
                                input#checkbox-rules(type="checkbox" checked)
                                label(for="checkbox-rules")
                                    span Согласен с <a class="js-link-popup" href="#popup-info-rules">правилами обработки информации</a>

                            .checkbox
                                input#checkbox-feed(type="checkbox")
                                label(for="checkbox-feed") Подписаться на рассылку

                        button(type="submit") Оформить заказ