---
title: Gerard Darel | Каталог
newsletter: false
active: active
---

extends includes/_page

block main

    #catalog

        h1.catalog__title New In
        .catalog__head
            // Breadcrumbs::Start
            .breacrumbs
                .breadcrumbs__wrapper
                    ol.breadcrumb
                        li.breadcrumb__item
                            a.breadcrumb__elem Главная
                        li.breadcrumb__item
                            span.breadcrumb__elem New In (210)
            // Breadcrumbs::End

            // Filters::Start
            .filters
                .filter__button--mobile Фильтр

                .filters-title
                    .filter-close
                    .filter-wrapper.has-filter
                        .filter-header
                            h2 Фильтры
                            a.filter-clear-btn Очистить всё
                        .filter-body

                            .filter-cat(data-path="category")
                                span Категория

                            .filter-cat(data-path="color")
                                span Цвет
                                .dimmed
                                    span Бежевый
                                    span Черный
                                    span Синий

                            .filter-cat(data-path="size")
                                span Талия
                                .dimmed
                                    span 34
                                    span 36
                                    span 38

                        .filter-footer
                            button Продолжить

                .filters-container.category
                    .filter-close
                    .filter-wrapper
                        .filter-header
                            h2.inner-header Категория
                            a.filter-clear-btn Очистить
                        .filter-body

                            .filter-attr
                                .cat-checkbox
                                    span
                                span.cat-label Рубашки и блузки

                            .filter-attr
                                .cat-checkbox
                                    span
                                span.cat-label Кожа и шкуры

                            .filter-attr
                                .cat-checkbox
                                    span
                                span.cat-label Юбки

                            .filter-attr
                                .cat-checkbox
                                    span
                                span.cat-label Сетка

                            .filter-attr
                                .cat-checkbox
                                    span
                                span.cat-label Пальто и тренчи

                            .filter-attr
                                .cat-checkbox
                                    span
                                span.cat-label Брюки и джинсы

                            .filter-attr
                                .cat-checkbox
                                    span
                                span.cat-label Платья

                            .filter-attr
                                .cat-checkbox
                                    span
                                span.cat-label Топы и кофты

                            .filter-attr
                                .cat-checkbox
                                    span
                                span.cat-label Платья

                        .filter-footer
                            button Продолжить

                .filters-container.color
                    .filter-close
                    .filter-wrapper.has-filter
                        .filter-header
                            h2.inner-header Цвет
                            a.filter-clear-btn Очистить
                        .filter-body

                            .filter-attr.selected
                                span.color-value-mobile(style="background-color: rgb(229, 205, 170)")
                                span.color-label-mobile Бежевый
                            .filter-attr.selected
                                span.color-value-mobile(style="background-color: black")
                                span.color-label-mobile Черный
                            .filter-attr.selected
                                span.color-value-mobile(style="background-color: blue")
                                span.color-label-mobile Синий
                            .filter-attr
                                span.color-value-mobile(style="background-color: rgb(88, 41, 0)")
                                span.color-label-mobile Коричневый
                            .filter-attr
                                span.color-value-mobile(style="background-color: yellow")
                                span.color-label-mobile Желтый
                            .filter-attr
                                span.color-value-mobile(style="background-color: green")
                                span.color-label-mobile Зеленый
                            .filter-attr
                                span.color-value-mobile(style="background-color: rgb(128, 128, 128)")
                                span.color-label-mobile Серый
                            .filter-attr
                                span.color-value-mobile(style="background-color: brown")
                                span.color-label-mobile Бордовый
                            .filter-attr
                                span.color-value-mobile(style="background-color: rgb(255, 172, 200)")
                                span.color-label-mobile Розовый
                            .filter-attr
                                span.color-value-mobile(style="background-color: rgb(255, 0, 0)")
                                span.color-label-mobile Красный

                        .filter-footer
                            button Продолжить

                .filters-container.size
                    .filter-close
                    .filter-wrapper.has-filter
                        .filter-header
                            h2.inner-header Талия
                            a.filter-clear-btn Очистить
                        .filter-body

                            .filter-attr.selected
                                .size-checkbox
                                    span
                                span.size-label 34

                            .filter-attr.selected
                                .size-checkbox
                                    span
                                span.size-label 36

                            .filter-attr.selected
                                .size-checkbox
                                    span
                                span.size-label 38

                            .filter-attr
                                .size-checkbox
                                    span
                                span.size-label 40

                            .filter-attr
                                .size-checkbox
                                    span
                                span.size-label 42

                            .filter-attr
                                .size-checkbox
                                    span
                                span.size-label 44

                            .filter-attr
                                .size-checkbox
                                    span
                                span.size-label 46

                            .filter-attr
                                .size-checkbox
                                    span
                                span.size-label T2

                        .filter-footer
                            button Продолжить
            // Filters::End

            .sorting

                .sorting__wrapper
                    select.sortby
                        option Новинки
                        option По дате
                        option Рейтинг
                        option Просмотр

                .sorting__columns
                    .sorting__col-4.active
                        i
                    .sorting__col-2
                        i

        .selected__filters
                .refineby__body

                    .refineby__item
                        span.refineby-btn Черный
                        span.refineby-remove

                    .refineby__item
                        span.refineby-btn Синий
                        span.refineby-remove

                    .refineby__item
                        span.refineby-btn Бежевый
                        span.refineby-remove

                    .refineby__item
                        span.refineby-btn 34
                        span.refineby-remove

                    .refineby__item
                        span.refineby-btn 36
                        span.refineby-remove

                    .refineby__item
                        span.refineby-btn 38
                        span.refineby-remove

                a.clear-filters Очистить

        .catalog__cards
            .catalog__container

                include components/_catalog-cards
                +card("001.jpg", "004.jpg", '18 225', 'STEFANY - Пальто из шерсти альпаки')
                +card("002.jpg", "005.jpg", '22 000', 'CLOANE - Струящаяся блуза с цветочным принтом')
                +card("003.jpg", "006.jpg", '14 500', 'LARA - Gilet oversize avec poches plaquées')
                +card("004.jpg", "007.jpg", '10 000', 'CALLIE - Струящаяся шелковая блуза')
                +card("005.jpg", "008.jpg", '10 000', 'JANE - Кожаная сумка')
                +card("006.jpg", "009.jpg", '10 000', 'LUCIEN - Объёмный шерстяной свитер с V-образным вырезом')
                +card("007.jpg", "010.jpg", '10 000', 'LUCIE - Сумка с тиснением под крокодила')
                +card("008.jpg", "011.jpg", '10 000', 'DALIE - Двубортное пальто с узором')
                +card("009.jpg", "012.jpg", '10 000', 'JANE - Кожаная сумка')
                +card("010.jpg", "001.jpg", '10 000', 'LUCIEN - Объёмный шерстяной свитер с V-образным вырезом')
                +card("011.jpg", "002.jpg", '10 000', 'LUCIE - Сумка с тиснением под крокодила')
                +card("012.jpg", "003.jpg", '10 000', 'DALIE - Двубортное пальто с узором')
                +card("001.jpg", "004.jpg", '18 225', 'STEFANY - Пальто из шерсти альпаки')
                +card("002.jpg", "005.jpg", '22 000', 'CLOANE - Струящаяся блуза с цветочным принтом')
                +card("003.jpg", "006.jpg", '14 500', 'LARA - Gilet oversize avec poches plaquées')
                +card("004.jpg", "007.jpg", '10 000', 'CALLIE - Струящаяся шелковая блуза')
                +card("005.jpg", "008.jpg", '10 000', 'JANE - Кожаная сумка')
                +card("006.jpg", "009.jpg", '10 000', 'LUCIEN - Объёмный шерстяной свитер с V-образным вырезом')
                +card("007.jpg", "010.jpg", '10 000', 'LUCIE - Сумка с тиснением под крокодила')
                +card("008.jpg", "011.jpg", '10 000', 'DALIE - Двубортное пальто с узором')
                +card("009.jpg", "012.jpg", '10 000', 'JANE - Кожаная сумка')
                +card("010.jpg", "001.jpg", '10 000', 'LUCIEN - Объёмный шерстяной свитер с V-образным вырезом')
                +card("011.jpg", "002.jpg", '10 000', 'LUCIE - Сумка с тиснением под крокодила')
                +card("012.jpg", "003.jpg", '10 000', 'DALIE - Двубортное пальто с узором')

            .catalog__progressbar
                span.progress-info Вы просмотрели 40 из 151 товаров
                .line-maxrange
                    span.line-status

            .show-more-btn
                a.button-style(href="#")
                    span Показать еще

            a#scrollTop.show(href="#")


        // Slider-section::Start
        section.slider-section
            h2.section-title Популярное из коллекций
            .slider-container

                .swiper-wrapper

                    include components/_swiper-slider
                    +swiper('img001.jpg', 'img003.jpg', '27 600', 'JENA - Robe chemise en soie')
                    +swiper('img002.jpg', 'img004.jpg', '22 000', 'Bottes en cuir de veau souple')
                    +swiper('img003.jpg', 'img001.jpg', '23 600', 'LARA - Gilet oversize avec poches plaquées')
                    +swiper('img004.jpg', 'img001.jpg', '23 600', 'LARA - Gilet oversize avec poches plaquées')
                    +swiper('img001.jpg', 'img003.jpg', '27 600', 'JENA - Robe chemise en soie')
                    +swiper('img002.jpg', 'img004.jpg', '22 000', 'Bottes en cuir de veau souple')
                    +swiper('img003.jpg', 'img001.jpg', '23 600', 'LARA - Gilet oversize avec poches plaquées')
                    +swiper('img004.jpg', 'img001.jpg', '23 600', 'LARA - Gilet oversize avec poches plaquées')
                    +swiper('img001.jpg', 'img003.jpg', '27 600', 'JENA - Robe chemise en soie')
                    +swiper('img002.jpg', 'img004.jpg', '22 000', 'Bottes en cuir de veau souple')
                    +swiper('img003.jpg', 'img001.jpg', '23 600', 'LARA - Gilet oversize avec poches plaquées')
                    +swiper('img004.jpg', 'img001.jpg', '23 600', 'LARA - Gilet oversize avec poches plaquées')

                .slider-scrollbar

            a(href="#").slider-button-prev.slider-button-prev-0
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                        path(d="M0-.25H24v24H0Z" transform="translate(0 0.25)" style="fill:none")
                        polyline(points="14.4 7.03 9 12.43 14.4 17.83" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:8;stroke-width:3px")

            a(href="#").slider-button-next.slider-button-next-0
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                        path(d="M0-.25H24v24H0Z" transform="translate(0 0.25)" style="fill:none")
                        polyline(points="10 17.83 15.4 12.43 10 7.03" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:8;stroke-width:3px")
        // Slider-section::End