---
title: Возврат товара | Gerard Darel
---

extends includes/_page

block main

    h1.d-r__title Возврат товара
    ul.d-r__list
        li При покупке по полной цене есть 14 дней с момента получения для возврата средств.
        li <b>Предметы со СКИДКОЙ являются ОКОНЧАТЕЛЬНЫМИ и возврату не подлежат.</b>
        li Все возращаемые товары должны быть в первоначальном состоянии.
        li Просто напишите в нашу <b>службу поддержки клиентов,</b> чтобы запросить возврат:
          | <br>
          | <a href="tel:88888888888">8 (888) 888-88-88</a> / <a href="mailto:info@gerarddarel.ru">info@gerarddarel.ru</a>