---
title: Gerard Darel | Часто задаваемые вопросы
---

extends includes/_page

block main

    #faq

        h1.faq__title Часто задаваемые вопросы
        .faq__container
            .faq__aside
                ul
                    li
                        a(href="#block-1") Оплата и заказы
                    li
                        a(href="#block-2") Доставка
                    li
                        a(href="#block-3") Возврат товара
                    li
                        a(href="#block-4") Мой личный кабинет
                    li
                        a(href="#block-5") Наши товары
                    li
                        a(href="#block-6") Вопросы, связанные с покупками в магазине
            .faq__content
                #block-1
                    .s-faq__title
                        img(src="assets/images/ico-shoppingbag.svg", alt="img")
                        h4 Оплата и заказы
                    .s-faq__wrapper
                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Какие способы оплаты принимаются?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!


                #block-2
                    .s-faq__title
                        img(src="assets/images/ico-livraison.svg", alt="img")
                        h4 Доставка

                    .s-faq__wrapper
                        .s-faq__tab
                            .s-faq__question Как вернуть товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Как вернуть товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Как вернуть товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Как вернуть товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Как вернуть товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                #block-3
                    .s-faq__title
                        img(src="assets/images/ico-retours.svg", alt="img")
                        h4 Возврат товара

                    .s-faq__wrapper
                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                #block-4
                    .s-faq__title
                        img(src="assets/images/ico-user.svg", alt="img")
                        h4 Мой личный кабинет

                    .s-faq__wrapper
                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                #block-5
                    .s-faq__title
                        img(src="assets/images/ico-produit.svg", alt="img")
                        h4 Наши товары

                    .s-faq__wrapper
                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!


                #block-6
                    .s-faq__title
                        img(src="assets/images/ico-shop.svg", alt="img")
                        h4 Вопросы, связанные с покупками в магазине

                    .s-faq__wrapper
                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

                        .s-faq__tab
                            .s-faq__question Сколько времени нужно ждать товар?
                            .s-faq__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatibus minima, quisquam id accusamus omnis iste dolore corporis velit magnam, consequatur, accusantium autem provident? Fuga adipisci dolorem, maiores nihil asperiores esse tenetur eaque quae vel nemo, maxime consequatur sint in!

            a.faq-scroll-to-top.show(href="#")