---
title: Gerard Darel | Винтаж
newsletter: false
active: active
---

extends includes/_page

block main

    // BANNER
    .l-1-banner

        a.l-1-banner__link(href="#")

            img(src="assets/images/Gérard_Darel_look_book_Montreui_1282.jpg", alt="img")
            img(src="assets/images/Gérard_Darel_look_book_Montreui_1282__MOBILE.jpg", alt="img")

    .limiter

        // TITLE
        h1.l-1-title Vintage Collection

        // TEXT
        p.l-1-text Коллекция весна-лето 2022 – нежная история о самом теплом времени года: беззаботные, счастливые и красочные моменты.
                    | Следуя зову сердца, марка Gerard Darel остается верна своему главному принципу – создавать одежду на все времена. В основе коллекции культовые, но в то же время базовые модели дома Darel, которые освобождают от эфемерных тенденций.
                    | Новая капсула носит символичное название Vintage Gerard Darel. Трепетные эмоции, словно вы нашли мамино платье, которое снова покорит все подиумы мира. Так знаменитый цветочный принт от Darel приобрел новые формы и вновь стал актуальным и желанным для всех поколений. Вчера, сегодня, завтра и на все времена!

        // BUTTON LINK
        a.l-1-button.button-style(href="https://www.gerarddarel.ru/catalog/vintage/") Открыть

        // IMAGES BLOCK
        .l-1-image

            .l-1-block__single
                img(src="assets/images/DUJ33U3259100-5.jpg", alt="img")

            .l-1-block__multiple
                .l-1-block
                    a(href="https://www.gerarddarel.ru/catalog/bluzy_i_rubashki/ukorochennaya_rubashka_na_zavyazkakh/")
                        img(src="assets/images/469a7805-7459-11ec-bd1c-aee7097120a6_3fd5bfd9-a5c4-11ec-a2d1-c8507521d9a6.jpg", alt="img")

                    .l-1-info
                        p Укороченная рубашка на завязках
                        span 21 510 руб.

                .l-1-block
                    a(href="https://www.gerarddarel.ru/catalog/yubki_i_shorty_1/khlopkovaya_yubka_maksi/")
                        img(src="assets/images/469a7805-7459-11ec-bd1c-aee7097120a6_3fd5bfd9-a5c4-11ec-a2d1-c8507521d9a6.jpg", alt="img")

                    .l-1-info
                        p Укороченная рубашка на завязках
                        span 21 510 руб.

        // IMAGELINE
        .l-1-imageline

            .l-1-imageline__block
                a(href="https://www.gerarddarel.ru/catalog/yubki_i_shorty_1/farel_dzhinsovye_shorty/")
                    img(src="assets/images/469a7805-7459www-11ec-bd1c-aee7097120a6_3fd5bfd9-a5c4-11ec-a2d1-c8507521d9a6.jpg", alt="img")

            .l-1-imageline__block
                a(href="https://www.gerarddarel.ru/catalog/bluzy_i_rubashki/elton_khlopkovaya_rubashka_s_tsvetochnym_printom/")
                    img(src="assets/images/469a7805-7459-11ec-bd1c-aee709.jpg", alt="img")

            .l-1-imageline__block
                p ELTON - ХЛОПКОВАЯ РУБАШКА С ЦВЕТОЧНЫМ ПРИНТОМ
                span 21 510 руб.

            .l-1-imageline__block
                a(href="https://www.gerarddarel.ru/catalog/vse_sumki_1/pletenaya_sumka_24_chasa_/")
                    img(src="assets/images/469a7805-7459-11ec-bd1c-aee7011ec-a2d1-c8507521d9a6.jpg", alt="img")

        // IMAGES BLOCK
        .l-1-image.l-1-image--reverse

            .l-1-block__single
                a(href="https://www.gerarddarel.ru/catalog/platya/plate_s_tsvetochnym_printom/")
                    img(src="assets/images/DUJ33U3259-5.jpg", alt="img")

            .l-1-block__multiple

                .l-1-block
                    .l-1-info
                        p Платье с цветочным принтом
                        span(style="text-decoration: line-through; margin-right: 10px; color: #999999; font-size: 13px; line-height: 185%") 25 900 руб.
                        span 21 510 руб.

                .l-1-block
                    a(href="https://www.gerarddarel.ru/catalog/platya/plate_s_tsvetochnym_printom/")
                        img(src="assets/images/469a7805-7459-11ec-d9-a5c4-11ec-a2d1-c8507521d9a6.jpg", alt="img")

                    a(href="https://www.gerarddarel.ru/catalog/platya/plate_s_tsvetochnym_printom/")
                        img(src="assets/images/469a7805-7459-11ec-bd1c.jpg", alt="img")


        // IMAGELINE
        .l-1-imageline.l-1-imageline--second

            .l-1-imageline__block
                a(href="https://www.gerarddarel.ru/catalog/remni/thea_kozhanyy_remen_s_graficheskoy_pryazhkoy/")
                    img(src="assets/images/469a7805-74597120a6_3fd5bfd9-a5c4-11ec-a2d1-c8507521d9a6.jpg", alt="img")

            .l-1-imageline__block
                a(href="https://www.gerarddarel.ru/catalog/bryuki_i_dzhinsy/anna_svetlye_raskleshennye_dzhinsy/")
                    img(src="assets/images/469a7805-7459-11ec-bd1c-aee709712c4-11ec-a2d1-c8507521d9a6.jpg", alt="img")

            .l-1-imageline__block
                a(href="#")
                    img(src="assets/images/469a7805-7459-11ec-bd1c-aee7097120a6_3fd5bfd9-a5c1d9a6.jpg", alt="img")

            .l-1-imageline__block
                p Панама
                span 21 510 руб.

        // IMAGELINE
        .l-1-imageline.l-1-imageline--third

            .l-1-imageline__block
                img(src="assets/images/11ec-bd1c-aee7097120a6_3fd5bfd9-a5c4-11ec-a2d1-c8507521d9a6.jpg", alt="img")

            .l-1-imageline__block
                p GABRIEL - ШАРФ С ЦВЕТОЧНЫМ ПРИНТОМ
                .l-1-imageline__price
                    span(style="text-decoration: line-through; margin-right: 10px; color: #999999; font-size: 13px; line-height: 185%") 9 900 руб.
                    span 8 910 руб.

            .l-1-imageline__block
                a(href="https://www.gerarddarel.ru/catalog/bryuki_i_dzhinsy/emerson_pryamye_bryuki_7_8/")
                    img(src="assets/images/469a7805-7459-11ec-bd1c-aee7097120a6_3fd5bfd9-a5c4-11521d9a6.jpg", alt="img")

            .l-1-imageline__block
                a(href="https://www.gerarddarel.ru/catalog/vse_sumki_1/lucie_sumka/")
                    img(src="assets/images/469a7805-7459-11ec-bd1c-aee7097120a6_3fd5bfd9-a5c4-11ec-a2d1-c21d9a6.jpg", alt="img")
