---
title: Мои заказы | Gerard Darel
orders: true
---

extends components/_aside-profile

block article

    article.orders__wrapper
        .p-order__switcher
            a(data-active="true") Все
            a Актуальные
            a Завершенные
        ul.p-orders__list.active(data-active="1")

            li.p-orders__item
                .p-orders__image
                    a(href="47196.html")
                        img(src="assets/images/Claudie_CFPRO01262-K007_H_1.jpg", alt="Заказ №47196")
                .p-orders__info
                    .p-orders__row
                        a(href="47196.html") № 47196
                        .p-order__status(data-pending='true') Предзаказ, 28.12
                    .p-orders__row
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Доставка
                                span.p-props__content Курьером
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Товаров
                                span.p-props__content 3
                            li.p-props__item
                                span.p-props__title Сумма
                                span.p-props__content 58 300 ₽
                        .p-order__status.p-mobile(data-pending='true') Предзаказ, 28.12

            li.p-orders__item
                .p-orders__image
                    a(href="47196.html")
                        img(src="assets/images/Claudie_CFPRO01262-K007_H_1.jpg", alt="Заказ №47196")
                .p-orders__info
                    .p-orders__row
                        a(href="47196.html") № 47196
                        .p-order__status(data-pending='true') Предзаказ, 28.12
                    .p-orders__row
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Доставка
                                span.p-props__content Курьером
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Товаров
                                span.p-props__content 3
                            li.p-props__item
                                span.p-props__title Сумма
                                span.p-props__content 58 300 ₽
                        .p-order__status.p-mobile(data-pending='true') Предзаказ, 28.12

            li.p-orders__item
                .p-orders__image
                    a(href="47196.html")
                        img(src="assets/images/Claudie_CFPRO01262-K007_H_1.jpg", alt="Заказ №47196")
                .p-orders__info
                    .p-orders__row
                        a(href="47196.html") № 47196
                        .p-order__status(data-canceled="true") Отменен, 28.12
                    .p-orders__row
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Доставка
                                span.p-props__content Курьером
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Товаров
                                span.p-props__content 3
                            li.p-props__item
                                span.p-props__title Сумма
                                span.p-props__content 58 300 ₽
                        .p-order__status.p-mobile(data-canceled="true") Отменен, 28.12

            li.p-orders__item
                .p-orders__image
                    a(href="47196.html")
                        img(src="assets/images/Claudie_CFPRO01262-K007_H_1.jpg", alt="Заказ №47196")
                .p-orders__info
                    .p-orders__row
                        a(href="47196.html") № 47196
                        .p-order__status(data-success='true') Получен, 28.12
                    .p-orders__row
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Доставка
                                span.p-props__content Курьером
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Товаров
                                span.p-props__content 3
                            li.p-props__item
                                span.p-props__title Сумма
                                span.p-props__content 58 300 ₽
                        .p-order__status.p-mobile(data-success='true') Получен, 28.12

        ul.p-orders__list(data-active="2")

            li.p-orders__item
                .p-orders__image
                    a(href="47196.html")
                        img(src="assets/images/Claudie_CFPRO01262-K007_H_1.jpg", alt="Заказ №47196")
                .p-orders__info
                    .p-orders__row
                        a(href="47196.html") № 47196
                        .p-order__status(data-pending='true') Предзаказ, 28.12
                    .p-orders__row
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Доставка
                                span.p-props__content Курьером
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Товаров
                                span.p-props__content 3
                            li.p-props__item
                                span.p-props__title Сумма
                                span.p-props__content 58 300 ₽
                        .p-order__status.p-mobile(data-pending='true') Предзаказ, 28.12

            li.p-orders__item
                .p-orders__image
                    a(href="47196.html")
                        img(src="assets/images/Claudie_CFPRO01262-K007_H_1.jpg", alt="Заказ №47196")
                .p-orders__info
                    .p-orders__row
                        a(href="47196.html") № 47196
                        .p-order__status(data-pending='true') Предзаказ, 28.12
                    .p-orders__row
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Доставка
                                span.p-props__content Курьером
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Товаров
                                span.p-props__content 3
                            li.p-props__item
                                span.p-props__title Сумма
                                span.p-props__content 58 300 ₽
                        .p-order__status.p-mobile(data-pending='true') Предзаказ, 28.12

        ul.p-orders__list(data-active="3")

            li.p-orders__item
                .p-orders__image
                    a(href="47196.html")
                        img(src="assets/images/Claudie_CFPRO01262-K007_H_1.jpg", alt="Заказ №47196")
                .p-orders__info
                    .p-orders__row
                        a(href="47196.html") № 47196
                        .p-order__status(data-canceled='true') Отменен, 28.12
                    .p-orders__row
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Доставка
                                span.p-props__content Курьером
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Товаров
                                span.p-props__content 3
                            li.p-props__item
                                span.p-props__title Сумма
                                span.p-props__content 58 300 ₽
                        .p-order__status.p-mobile(data-canceled='true') Отменен, 28.12

            li.p-orders__item
                .p-orders__image
                    a(href="47196.html")
                        img(src="assets/images/Claudie_CFPRO01262-K007_H_1.jpg", alt="Заказ №47196")
                .p-orders__info
                    .p-orders__row
                        a(href="47196.html") № 47196
                        .p-order__status(data-success='true') Получен, 28.12
                    .p-orders__row
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Доставка
                                span.p-props__content Курьером
                        ul.p-props
                            li.p-props__item
                                span.p-props__title Товаров
                                span.p-props__content 3
                            li.p-props__item
                                span.p-props__title Сумма
                                span.p-props__content 58 300 ₽
                        .p-order__status.p-mobile(data-success='true') Получен, 28.12

        // ЕСЛИ НИЧЕГО НЕТ
        ul.p-orders__empty Заказов не найдено